
body {
	background-color: #E2E2E2;
}

.header {
	background-color: #264348;	
	color: #ffffff;

	min-height: 55px;
	padding-left: 20px;
	padding-right: 20px;

	padding-top: 12px;
	padding-bottom: 12px;

	margin-top: 0px;
}

.header h1 {
	font-size: 18pt;

	margin-top: 0px;
	margin-bottom: 0px;
}

.nav {
	width: 300px;
	float: left;
}

.section  h1 {
	font-size: 20pt;
}
