.page-header
{
	min-height: 55px;
	padding-left: 20px;
	padding-right: 20px;

	padding-top: 12px;
	padding-bottom: 12px;

	margin-top: 0px;
	margin-bottom: 20px;
	background-color: #264348;

	
	color: #ffffff;
}

.page-header .form-group {
	font-size: 10pt;
}

.page-header .form-control {	
	height: 26px;
	font-size: 10pt;
}

.page-header #agency_input{
	width: 60px;
}

.page-header #account_input{
	width: 80px;
}

.page-header #password_input{
	width: 70px;
}

.page-header .btn {
	height: 26px;
	width: 120px;

	font-size: 12pt;
	font-style: bold;

	margin-left: 8px;
	margin-right: 8px;

	padding-top: 0px;
	padding-bottom: 0px;
}

.page-header h1
{
	font-size: 18pt;

	margin-top: 0px;
	margin-bottom: 0px;
}

.page-header h3
{
	font-size: 11pt;
	color: #c2c2c2;

	margin-top: 0px;
	margin-bottom: 0px;
}